@import url('https://fonts.googleapis.com/css?family=Exo|Lato:300|Oswald');

/*---------------------------------------------------------- Overall style*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    position: relative;
    min-height: 100vh;
}

body {
    font-family: Lato;
    color: #000;
    margin-bottom: 100px;
}

section {
    clear: both;
}

h1 {
    font-family: Exo;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000;
}
h2 {
    font-family: Exo;
    letter-spacing: 2px;
    color: #000;
}
h3 {
    font-family: Exo;
    letter-spacing: 1px;
    color: #000;
}

/*----------------------------------------------------------------Header and Nav Menu*/

.navbar-toggler.toggler-example {
    cursor: pointer;
}

/* keep links to right on navbar */
.my-nav-collapse {
    flex-grow: 0;
}

.navbar .my-logo {
    font-family: 'Exo';
    color: #000;
}

.navbar .nav-pills .menu-link {
    color: #000;
    text-decoration: none;
}

.navbar .nav-pills .menu-link.active {
    background-color: rgba(255, 214, 10, .7);
    color: #000;
}

.navbar .nav-pills .menu-link:hover :not(.active) {
    color: #001d3d;
}

/*----------------------------------------------------------------Home page*/
.card-title .card-img-overlay {
    background-color: rgba(255, 255, 255, 0.7);
    letter-spacing: 2px;
}

.card-img-overlay h3 {
    background-color: rgba(255, 214, 10, .7);
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 38%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.container-fluid .row {
    margin: 10px;
}

.welcome-text p {
    text-align: center;
}
/*----------------------------------------------------------------Exercises Page*/

.col {
    display: flex;
    flex-flow: row wrap;
    gap: 10px 30px;
    justify-content: space-around;
}

div .card-img-top {
    width: 100%;
    height: 300px;
}

.card-title {
    font-family: Exo;
}

.about-text {
    text-align: center;
}
/*----------------------------------------------------------------About Page*/
 


/*-------------------------------------------------------------- Contact Form */

.form-section {
    clear: left;
    background: url("/assets/images/pexels-photo-7236621.png");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.card mx-auto d-block {
    ;
}
.card .contact-form {
    margin: 0;
    border: solid 5px yellow;
}
.contact-form {
    margin: 10px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: auto !important;
    position: relative !important;
    padding: 20px;
}

.contact-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}


/*-------------------------------------------------------------- Media Queries/Responsive Design*/

@media (max-width: 767px) {

    h2 {
        margin-top: 20px;
        padding-top: 10px;
        text-align: center;
        font-size: 35px;
    }

    h3 {
        margin-top: 10px;
        padding-top: 5px;
        text-align: center;
        font-size: 25px;
    }

    .column-1,
    .column-2 {
        width: 100%;
        margin: 15px;
    }

    .card-title .card-img-overlay {
        background-color: rgba(255, 255, 255, 0.7);
        letter-spacing: 1px;
        top: 100%;
        left: 50%;
    }

    .card-img-overlay h3 {
        font-size: 10px;
        width: 50%%;
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


}

@media (min-width: 768px) and (max-width: 991px) {
    h2 {
        margin-top: 20px;
        padding-top: 10px;
        text-align: center;
        font-size: 35px;
    }

    h3 {
        margin-top: 10px;
        padding-top: 5px;
        text-align: center;
        font-size: 25px;
    }
    .column-1 {
        width: 50%;
        margin: auto;
        
    }

    .column-2 {
        width: 100%;
        margin: 15px;
    }

    
    .navbar-toggler.toggler-example {
        cursor: pointer;
    }

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 100%;
    margin: 1%;
    padding: 1%;
    color: #777777;
}
}

@media (min-width: 992px) {

    h2 {
        margin-top: 20px;
        padding-top: 10px;
        text-align: center;
        font-size: 35px;
    }

    h3 {
        margin-top: 10px;
        padding-top: 5px;
        text-align: center;
        font-size: 25px;
    }

    .column-2,
    .column-1 {
    width: 33%;
            
}
}

/*----------------------------------------------------------------Footer Section*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 50px;
    text-align: center;
    background-color: #001d3d;
}


.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 130%;
    margin: 1%;
    padding: 1%;
    color: #777777;
}
h6 {
    text-align: center;
    font-family: Lato;
}



/* =================================================================Media Queries*/

/*@media (max-width: 767px) {
    .footer {
        
    }
}


/* Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) {
    ...
}

/*Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) {
    ...
}

/* Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) {
    ...
}

/* Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) {
    ...
}
